body{
    background: rgba(255, 162, 0, 0.3);
    font-family: sans-serif
}

#title, #description {
    text-align: center;
}

#title {
    font-style: bold;
}

form {
    background: rgba(216, 220, 0, 0.17);
    font-size: 14px;
    margin: 0 auto;
    padding: 1em;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin: 5px 0 0 0;
}

.group {
    border-top: 1px solid rgba(25,25,25,0.14);
    margin-top: 20px;
    padding-top: 20px;
}

textarea {
    display: block;
    width: 100%;
}

#submit {
    background-color: rgba(25,25,25,0.22);
    border: none;
    margin-top: 5px;
    width: 100%;
}